/* https://www.youtube.com/watch?v=XO02P3QwENo */
.snowflake {
	--size: 4px;
	width: var(--size);
	height: var(--size);
	background: white;
	border-radius: 50%;
	position: absolute;
	top: -5vh;
	opacity: 0.5;
	z-index: -10;
}
@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 0, 0);
	}
	100% {
		transform: translate3d(var(--left-end), 200vh, 0);
	}
}
.snowflake:nth-child(1) {
	--size: 0.4vw;
	--left-ini: -8%;
	--left-end: -1%;
	left: 84%;
	animation: snowfall 45s linear infinite;
	animation-delay: -8s;
}
.snowflake:nth-child(2) {
	--size: 0.8vw;
	--left-ini: 7%;
	--left-end: -2%;
	left: 50%;
	animation: snowfall 8s linear infinite;
	animation-delay: -5s;
}
.snowflake:nth-child(3) {
	--size: 0.6vw;
	--left-ini: 2%;
	--left-end: 3%;
	left: 65%;
	animation: snowfall 13s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(4) {
	--size: 0.6vw;
	--left-ini: -1%;
	--left-end: 3%;
	left: 81%;
	animation: snowfall 12s linear infinite;
	animation-delay: -5s;
}
.snowflake:nth-child(5) {
	--size: 0.8vw;
	--left-ini: -5%;
	--left-end: 2%;
	left: 48%;
	animation: snowfall 45s linear infinite;
	animation-delay: -7s;
}
.snowflake:nth-child(6) {
	--size: 4px;
	--left-ini: -2%;
	--left-end: 9%;
	left: 59%;
	animation: snowfall 45s linear infinite;
	animation-delay: -7s;
}
.snowflake:nth-child(7) {
	--size: 0.2vw;
	--left-ini: 2%;
	--left-end: -4%;
	left: 89%;
	animation: snowfall 10s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(8) {
	--size: 0.2vw;
	--left-ini: 2%;
	--left-end: 6%;
	left: 47%;
	animation: snowfall 10s linear infinite;
	animation-delay: -5s;
}
.snowflake:nth-child(9) {
	--size: 0.8vw;
	--left-ini: -9%;
	--left-end: 9%;
	left: 88%;
	animation: snowfall 12s linear infinite;
	animation-delay: -10s;
}
.snowflake:nth-child(10) {
	--size: 0.4vw;
	--left-ini: -1%;
	--left-end: -5%;
	left: 98%;
	animation: snowfall 45s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(11) {
	--size: 0.6vw;
	--left-ini: 6%;
	--left-end: -6%;
	left: 83%;
	animation: snowfall 11s linear infinite;
	animation-delay: -4s;
}
.snowflake:nth-child(12) {
	--size: 0.4vw;
	--left-ini: -1%;
	--left-end: -4%;
	left: 42%;
	animation: snowfall 7s linear infinite;
	animation-delay: -9s;
}
.snowflake:nth-child(13) {
	--size: 0.8vw;
	--left-ini: -4%;
	--left-end: -4%;
	left: 68%;
	animation: snowfall 45s linear infinite;
	animation-delay: -5s;
}
.snowflake:nth-child(14) {
	--size: 0.6vw;
	--left-ini: 1%;
	--left-end: 5%;
	left: 96%;
	animation: snowfall 6s linear infinite;
	animation-delay: -9s;
}
.snowflake:nth-child(15) {
	--size: 0.4vw;
	--left-ini: 2%;
	--left-end: -5%;
	left: 86%;
	animation: snowfall 45s linear infinite;
	animation-delay: -9s;
}
.snowflake:nth-child(16) {
	--size: 0.4vw;
	--left-ini: -6%;
	--left-end: 3%;
	left: 7%;
	animation: snowfall 45s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(17) {
	--size: 0.6vw;
	--left-ini: 7%;
	--left-end: -3%;
	left: 1%;
	animation: snowfall 9s linear infinite;
	animation-delay: -7s;
}
.snowflake:nth-child(18) {
	--size: 0.8vw;
	--left-ini: -7%;
	--left-end: 10%;
	left: 83%;
	animation: snowfall 6s linear infinite;
	animation-delay: -9s;
}
.snowflake:nth-child(19) {
	--size: 0.2vw;
	--left-ini: 6%;
	--left-end: -9%;
	left: 51%;
	animation: snowfall 11s linear infinite;
	animation-delay: -4s;
}
.snowflake:nth-child(20) {
	--size: 0.2vw;
	--left-ini: -6%;
	--left-end: -2%;
	left: 37%;
	animation: snowfall 13s linear infinite;
	animation-delay: -9s;
}
.snowflake:nth-child(21) {
	--size: 4px;
	--left-ini: -8%;
	--left-end: 1%;
	left: 88%;
	animation: snowfall 45s linear infinite;
	animation-delay: -3s;
}
.snowflake:nth-child(22) {
	--size: 0.2vw;
	--left-ini: -4%;
	--left-end: -8%;
	left: 59%;
	animation: snowfall 8s linear infinite;
	animation-delay: -2s;
}
.snowflake:nth-child(23) {
	--size: 4px;
	--left-ini: 4%;
	--left-end: -3%;
	left: 89%;
	animation: snowfall 9s linear infinite;
	animation-delay: -2s;
}
.snowflake:nth-child(24) {
	--size: 0.2vw;
	--left-ini: 10%;
	--left-end: -6%;
	left: 50%;
	animation: snowfall 10s linear infinite;
	animation-delay: -4s;
}
.snowflake:nth-child(25) {
	--size: 4px;
	--left-ini: 5%;
	--left-end: -3%;
	left: 81%;
	animation: snowfall 12s linear infinite;
	animation-delay: -3s;
}
.snowflake:nth-child(26) {
	--size: 0.6vw;
	--left-ini: 1%;
	--left-end: 2%;
	left: 78%;
	animation: snowfall 7s linear infinite;
	animation-delay: -5s;
}
.snowflake:nth-child(27) {
	--size: 0.2vw;
	--left-ini: 3%;
	--left-end: -4%;
	left: 52%;
	animation: snowfall 12s linear infinite;
	animation-delay: -6s;
}
.snowflake:nth-child(28) {
	--size: 0.2vw;
	--left-ini: -8%;
	--left-end: 8%;
	left: 92%;
	animation: snowfall 13s linear infinite;
	animation-delay: -2s;
}
.snowflake:nth-child(29) {
	--size: 0.4vw;
	--left-ini: 8%;
	--left-end: 2%;
	left: 95%;
	animation: snowfall 7s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(30) {
	--size: 0.6vw;
	--left-ini: -5%;
	--left-end: 10%;
	left: 96%;
	animation: snowfall 14s linear infinite;
	animation-delay: -8s;
}
.snowflake:nth-child(31) {
	--size: 4px;
	--left-ini: 9%;
	--left-end: 3%;
	left: 79%;
	animation: snowfall 6s linear infinite;
	animation-delay: -6s;
}
.snowflake:nth-child(32) {
	--size: 4px;
	--left-ini: 7%;
	--left-end: 6%;
	left: 79%;
	animation: snowfall 11s linear infinite;
	animation-delay: -10s;
}
.snowflake:nth-child(33) {
	--size: 4px;
	--left-ini: 9%;
	--left-end: 3%;
	left: 53%;
	animation: snowfall 7s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(34) {
	--size: 0.8vw;
	--left-ini: -5%;
	--left-end: 3%;
	left: 90%;
	animation: snowfall 12s linear infinite;
	animation-delay: -3s;
}
.snowflake:nth-child(35) {
	--size: 0.4vw;
	--left-ini: 9%;
	--left-end: -1%;
	left: 15%;
	animation: snowfall 45s linear infinite;
	animation-delay: -10s;
}
.snowflake:nth-child(36) {
	--size: 4px;
	--left-ini: -2%;
	--left-end: -5%;
	left: 48%;
	animation: snowfall 9s linear infinite;
	animation-delay: -4s;
}
.snowflake:nth-child(37) {
	--size: 0.8vw;
	--left-ini: -7%;
	--left-end: 2%;
	left: 77%;
	animation: snowfall 7s linear infinite;
	animation-delay: -7s;
}
.snowflake:nth-child(38) {
	--size: 4px;
	--left-ini: 6%;
	--left-end: 6%;
	left: 9%;
	animation: snowfall 45s linear infinite;
	animation-delay: -7s;
}
.snowflake:nth-child(39) {
	--size: 0.4vw;
	--left-ini: 4%;
	--left-end: 6%;
	left: 99%;
	animation: snowfall 14s linear infinite;
	animation-delay: -6s;
}
.snowflake:nth-child(40) {
	--size: 0.6vw;
	--left-ini: 4%;
	--left-end: 1%;
	left: 33%;
	animation: snowfall 7s linear infinite;
	animation-delay: -5s;
}
.snowflake:nth-child(41) {
	--size: 0.2vw;
	--left-ini: -7%;
	--left-end: -7%;
	left: 62%;
	animation: snowfall 10s linear infinite;
	animation-delay: -5s;
}
.snowflake:nth-child(42) {
	--size: 0.8vw;
	--left-ini: -8%;
	--left-end: 5%;
	left: 70%;
	animation: snowfall 9s linear infinite;
	animation-delay: -6s;
}
.snowflake:nth-child(43) {
	--size: 0.4vw;
	--left-ini: -6%;
	--left-end: 9%;
	left: 18%;
	animation: snowfall 45s linear infinite;
	animation-delay: -6s;
}
.snowflake:nth-child(44) {
	--size: 4px;
	--left-ini: -8%;
	--left-end: 0%;
	left: 98%;
	animation: snowfall 45s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(45) {
	--size: 4px;
	--left-ini: 4%;
	--left-end: 1%;
	left: 14%;
	animation: snowfall 11s linear infinite;
	animation-delay: -7s;
}
.snowflake:nth-child(46) {
	--size: 4px;
	--left-ini: -6%;
	--left-end: -8%;
	left: 73%;
	animation: snowfall 13s linear infinite;
	animation-delay: -3s;
}
.snowflake:nth-child(47) {
	--size: 0.8vw;
	--left-ini: -3%;
	--left-end: -7%;
	left: 82%;
	animation: snowfall 45s linear infinite;
	animation-delay: -1s;
}
.snowflake:nth-child(48) {
	--size: 4px;
	--left-ini: 6%;
	--left-end: 7%;
	left: 30%;
	animation: snowfall 13s linear infinite;
	animation-delay: -10s;
}
.snowflake:nth-child(49) {
	--size: 0.4vw;
	--left-ini: 7%;
	--left-end: -3%;
	left: 9%;
	animation: snowfall 14s linear infinite;
	animation-delay: -4s;
}
.snowflake:nth-child(50) {
	--size: 4px;
	--left-ini: 1%;
	--left-end: -8%;
	left: 59%;
	animation: snowfall 11s linear infinite;
	animation-delay: -1s;
}
/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
	filter: blur(1px);
}
